@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.lato-font {
  font-family: "Dancing Script", cursive;
  
}
.link {
  @apply px-2 hover:text-slate-700 cursor-pointer;
}

.big-height {
  height: 1000px;
  width: 100%;
}
.parent {
  @apply bg-green-200 flex justify-start  flex-wrap;
}
.card {
  @apply m-5 bg-slate-100 text-gray-700 
     min-h-[10rem] shadow-lg rounded hover:shadow-xl;
}
